.chessSq {
  
      width: 75px;
      height: 75px;
      text-align: center;
      justify-content: center;
      
    }


.chessb {
      background: rgb(0, 0, 0);
      
    }
    .chessw {

      background: rgb(255, 255, 255);
    }

  .row{
    display: flex;
    margin: 0 auto;
  }

  .board{
    display:grid;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1{
    display: flex;
    margin: 0 auto;
    padding: 25px;
    color: #2b3253;
    font-size: 4em;
    text-shadow: -3px 0 #fad744, 0 3px #fad744;
  }
  p,h3{
    display: flex;
    margin: 0 auto;
    color: #fad744;
    font-size: 2em;
    text-shadow: -3px 0 #2b3253, 0 3px #2b3253;
  }
  .container{
    display:grid;
    text-align: center;
  }

  .columntext{
    width: 75px;
    height: 75px;
    color: #fad744;
    font-weight: 600;
  }

  .rowtext{
    width: 75px;
    height: 75px;
    color: #2b3253;
    font-weight: 600;
  }

  .rowtextall{
    visibility: hidden;
    display: flex;
    position:absolute;
    padding-top: 40px;
    text-align: center;
    margin-left: 535px;
    text-transform: uppercase;
    font-size: 2em;
    

  }

  .columntextall{
    visibility: hidden;
    position:absolute;
    padding-top: 120px;
    padding-left: 470px;
    font-size: 2em;
  }

  .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.chessSq .sqname {
  visibility: hidden;
  width: 50px;
  background-color: #ef5455;
  color: #fad744;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  font-weight: 600;
  margin-top:10px;
  text-shadow:-3px 0 #2b3253, 0 3px #2b3253;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.chessSq:hover .sqname {
  visibility: visible;
  text-transform: capitalize;
}